<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Becca's Personal Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link href="learningTracker.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header id="top">
        <div class="nav-img-container">
            <nav>
                <a href="#UdemyWebDev">Udemy Web Dev</a> | <a href="#fcc">FreeCodeCamp</a> | <a
                    href="#codecademy">Codecademy</a> | <a href="./notebook">Notebook</a> | <a href="./plan"
                    target="_blank">Plan</a>
            </nav>

            <!--     <figure>
        <img src="https://images.freeimages.com/images/large-previews/89e/screens-row-1243513.jpg" alt="computer">
        <figcaption><em>Source</em>: freeimages.com</figcaption>
    </figure> -->
            <div class="img-text">
                <h1>Becca's Learning Tracker</h1>
                <p>I'm a programmer who loves numbers, books, and nature. These are sources I'm currently learning from;
                    I
                    created this to track my progress.</p>
            </div>
        </div>
    </header>

    <hr>
    <section>
