<%- include("partials/header") -%>

    <article>
        <h3>
            <i class="fas fa-arrow-circle-right toggle-btn"></i>
            Goal Notes <a href="#top">Top</a>
        </h3>

        <div class="container">
            <div class="note">
                <span class="title">
                    5 Yr Goal: </span>
                No debt Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae
                accusamus! Necessitatibus ipsum unde voluptatum quia distinctio officiis architecto consequuntur
                voluptas, explicabo a aliquid aut saepe enim tempora sed cumque.

            </div>

            <div class="note">
                <span class="title">
                    1 Yr Goal: </span>
                Programming Job Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae
                accusamus! Necessitatibus ipsum unde voluptatum quia distinctio officiis architecto consequuntur
                voluptas, explicabo a aliquid aut saepe enim tempora sed cumque.
            </div>

            <div class="note">
                <span class="title">
                    3 Month Goal: </span>
                No Busch Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae
                accusamus! Necessitatibus ipsum unde voluptatum quia distinctio officiis architecto consequuntur
                voluptas, explicabo a aliquid aut saepe enim tempora sed cumque.

            </div>

            <div class="note">
                <span class="title">
                    3 Month Goal: </span>
                No Busch Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae
                accusamus! Necessitatibus ipsum unde voluptatum quia distinctio officiis architecto consequuntur
                voluptas, explicabo a aliquid aut saepe enim tempora sed cumque.
            </div>

        </div>
    </article>

    <article>
        <h3>
            <i class="fas fa-arrow-circle-right toggle-btn"></i>
            Weekly Notes <a href="#top">Top</a>
        </h3>

        <div class="container">

            <div class="note">
                <span class="title">
                    Sunday: </span>
                No Busch Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae
                accusamus! Necessitatibus ipsum unde voluptatum quia distinctio officiis architecto consequuntur
                voluptas, explicabo a aliquid aut saepe enim tempora sed cumque.
            </div>

            <div class="note">
                <span class="title">
                    Monday: </span>
                No Busch Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae
                accusamus! Necessitatibus ipsum unde voluptatum quia distinctio officiis architecto consequuntur
                voluptas, explicabo a aliquid aut saepe enim tempora sed cumque.
            </div>

            <div class="note">
                <span class="title">
                    Tuesday: </span>
                No Busch Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae
                accusamus! Necessitatibus ipsum unde voluptatum quia distinctio officiis architecto consequuntur
                voluptas, explicabo a aliquid aut saepe enim tempora sed cumque.
            </div>

            <div class="note">
                <span class="title">
                    Wednesday: </span>
                No Busch Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae
                accusamus! Necessitatibus ipsum unde voluptatum quia distinctio officiis architecto consequuntur
                voluptas, explicabo a aliquid aut saepe enim tempora sed cumque.
            </div>

            <div class="note">
                <span class="title">
                    Thursday: </span>
                No Busch Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae
                accusamus! Necessitatibus ipsum unde voluptatum quia distinctio officiis architecto consequuntur
                voluptas, explicabo a aliquid aut saepe enim tempora sed cumque.
            </div>

            <div class="note">
                <span class="title">
                    Friday: </span>
                No Busch Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae
                accusamus! Necessitatibus ipsum unde voluptatum quia distinctio officiis architecto consequuntur
                voluptas, explicabo a aliquid aut saepe enim tempora sed cumque.
            </div>

            <div class="note">
                <span class="title">
                    Saturday: </span>
                No Busch Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repudiandae
                accusamus! Necessitatibus ipsum unde voluptatum quia distinctio officiis architecto consequuntur
                voluptas, explicabo a aliquid aut saepe enim tempora sed cumque.
            </div>

        </div>
    </article>

    <article>
        <h3>
            <i class="fas fa-arrow-circle-right toggle-btn"></i>
            Book Notes <a href="#top">Top</a>
        </h3>
    </article>

    <article>
        <h3>
            <i class="fas fa-arrow-circle-right toggle-btn"></i>
            Learning Notes <a href="#top">Top</a>
        </h3>
    </article>

    <%- include("partials/footer") -%>
